
body {
  text-align: center;
}

h1 {
  background-color: black;
  color: rgb(203, 200, 200);
  margin: 0 0 7%;
}

p {
  font-size: 20px;
}

.ships-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: clamp(400px, 80vw, 1200px);
  margin: auto;
  justify-content: center;
}

.ship-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 150px;
  background-color: rgb(1, 63, 62);
  margin: 1rem;
  border-radius: 10px;
  padding: 0 15px;
  color: white;
}

.ship-container-each {
  width:fit-content;
  height:fit-content;
  background-color: rgb(1, 63, 62);
  border-radius: 10px;
  padding: 10px 15px ;
  color: white;
  margin: 20% auto;
}
